Django==1.5.4
PIL==1.1.7
PyJWT==0.3.0
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
beautifulsoup4==4.3.2
billiard==3.3.0.18
celery==3.1.16
django-bootstrap3-datetimepicker==2.2.3
django-celery==3.1.16
django-crispy-forms==1.4.0
kombu==3.0.23
oauthlib==0.7.1
python-openid==2.2.5
python-social-auth==0.2.1
pytz==2014.9
requests==2.4.3
requests-oauthlib==0.4.2
six==1.8.0
wsgiref==0.1.2
