{% extends 'officespace/base.html' %}
{% load static %}
{% block body_block %}
    <div>
{#        {% for ke in key.items() %}#}
{#            {{ke}}#}
{#        {% endfor %}#}
        {% for mess in messages %}
            <p><b> s.no : </b>{{ forloop.counter }}</p>
            <p><b>Message :</b>{{ mess.message }}</p>
            <p><b>sender :</b>
            {% for k, v in keymapper.items %}
                {% ifequal k mess.senderid %}
                    {{ v }}
                {% endifequal %}
            {% endfor %}
            </p>
        {% endfor %}
    </div>
{% endblock %}